#splitForm {
    height: 44vh;
    width: 26vw;
    background-color: rgb(241, 241, 241);
    border: 5px solid gray;
    border-radius: 10px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}





/* h2 */
#splitForm h2 {
    text-transform: capitalize;
    align-self: center;
    font-size: 26px;
    text-align: center;

}


/* spli form functionality */
#splitFormFunctionality {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    text-transform: capitalize;
}

#splitFormFunctionality div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#splitFormFunctionality div span {
    font-size: 20px;
    font-weight: 500;
}

#splitFormFunctionality div input {
    width: 40%;
    font-size: 15px;
    padding: 6px 8px;
    border-radius: 6px;
}

#selecter {
    font-size: 15px;
    padding: 6px 8px;
    border-radius: 6px;
    text-transform: capitalize;
    cursor: pointer;
}


/* btn */

#spliBillBtn {
    padding: 6px 0px;
    font-size: 17px;
    font-weight: 700;
    border: 3px solid gray;
    color: gray;
}

#spliBillBtn:hover {
    color: black;
    background-color: gray;
    border: 3px solid transparent;
}

@media only screen and (max-width: 900px) {
    #splitForm {
        position: absolute;
        height: 40vh;
        width: 45vw;
        padding: 20px 20px;
        top: 20px;
        right: 20px;
    }

    /* h2 */
    #splitForm h2 {
        font-size: 23px;
    }


    /* spli form functionality */
    #splitFormFunctionality {
        row-gap: 12px;
    }

    #splitFormFunctionality div span {
        font-size: 18px;
        font-weight: 500;
    }

    #splitFormFunctionality div input {
        width: 40%;
        font-size: 13px;
        padding: 6px 8px;
        border-radius: 6px;
    }

    #selecter {
        font-size: 13px;
        padding: 6px 8px;
        border-radius: 6px;
    }


    /* btn */

    #spliBillBtn {
        padding: 6px 0px;
        font-size: 15px;
        font-weight: 700;
    }
}


@media only screen and (max-width: 700px) {
    #splitForm {
        position: absolute;
        height: 40vh;
        width: 45vw;
        padding: 20px 20px;
        top: 20px;
        right: 20px;
    }

    /* h2 */
    #splitForm h2 {
        font-size: 21px;
    }


    /* spli form functionality */
    #splitFormFunctionality {
        row-gap: 12px;
    }

    #splitFormFunctionality div span {
        font-size: 16px;
        font-weight: 500;
    }

    #splitFormFunctionality div input {
        width: 40%;
        font-size: 13px;
        padding: 6px 8px;
        border-radius: 6px;
    }

    #selecter {
        font-size: 13px;
        padding: 6px 8px;
        border-radius: 6px;
    }


    /* btn */

    #spliBillBtn {
        padding: 6px 0px;
        font-size: 15px;
        font-weight: 700;
    }
}




@media only screen and (max-width: 540px) {
    #splitForm {
        position: absolute;
        height: 40vh;
        width: 60vw;
        padding: 20px 20px;
        top: 20px;
        right: 20px;
    }

    /* h2 */
    #splitForm h2 {
        font-size: 20px;
    }


    /* spli form functionality */
    #splitFormFunctionality {
        row-gap: 10px;
    }

    #splitFormFunctionality div span {
        font-size: 15px;
        font-weight: 500;
    }

    #splitFormFunctionality div input {
        width: 40%;
        font-size: 13px;
        padding: 5px 8px;
        border-radius: 8px;
    }

    #selecter {
        font-size: 13px;
        padding: 5px 6px;
        border-radius: 8px;
    }

    #selecter option{
        font-size: 13px;
    }


    /* btn */

    #spliBillBtn {
        padding: 5px 0px;
        font-size: 14px;
        font-weight: 700;
    }
}


@media only screen and (max-width: 540px) and (max-height : 800px) {
    #splitForm {
        position: absolute;
        height: 50vh !important;
        width: 60vw !important;
        padding: 16px 14px;
        top: 20px;
        right: 20px;
    }

    
    /* h2 */
    #splitForm h2 {
        font-size: 18px;
    }


    /* spli form functionality */
    #splitFormFunctionality {
        row-gap: 10px;
    }

    #splitFormFunctionality div span {
        font-size: 14px;
        font-weight: 500;
    }

    #splitFormFunctionality div input {
        width: 40%;
        font-size: 13px;
        padding: 5px 8px;
        border-radius: 8px;
    }

    #selecter {
        font-size: 13px;
        padding: 5px 6px;
        border-radius: 8px;
    }

    #selecter option{
        font-size: 13px;
    }


    /* btn */

    #spliBillBtn {
        padding: 5px 0px;
        font-size: 14px;
        font-weight: 700;
    }
}

/* @media only screen and (max-width: 400px) {} */




/*  best media sizes */


/* @media only screen and (max-width: 1050px) { } */

/* @media only screen and (max-width: 767px) {} */


/* @media only screen and (max-width: 540px)  {} */


/* @media only screen and (max-width: 540px) and (max-height : 800px){  } */



/* @media only screen and (max-width: 400px) {} */